body{
    margin: 0;
}
header{
    background-image: url(../img/2743.jpg);
    max-width: 3840px;
    max-height: 2160px;
    width: 100%;
    padding-bottom:100px;
    padding-top: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header h1{
    text-align: 50px left;
    font-size: 50px;
    max-width: 3840px;
    max-height: 2160px;
    width: 100%;
    padding-top: 40px;
    padding-left: 10px;
    
}